.button {
    padding: 12px 24px;
    border: 2px solid rgba(78, 135, 242, 1);
    padding: 5px 20px 8px 20px;
    font-size: 18px;
    font-family: 'Open Sans';
    cursor: pointer;
    height: 40px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    align-self: flex-start;
}

.blue {
    background-color: rgba(78, 135, 242, 1);
    color: rgba(255, 255, 255, 1);
}

.button:hover {
    background-color: rgba(145, 183, 255, 1);
    border: 2px solid rgba(145, 183, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.white {
    background-color: rgba(242, 247, 255, 1);
    color: rgba(78, 135, 242, 1);
}

.square {
    border-radius: 15px;
}

.circle {
    border-radius: 30px;
}